* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    background: url(bg.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding:10px;

}
.sub-container{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.container {
    width: auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.78);
    backdrop-filter: blur(20px);
    border-radius: 20px;
    box-shadow:0 20px 40px rgba(0, 0, 0, 0.12), inset 0 1px 0 rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

h1 {
    margin-top: 30px;
    text-align: center;
    color: #2e7d32;
    font-size: 3rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 50px;
    text-transform: uppercase;
}
.name{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.name h5{
    margin: 0;
    font-size: 1.2rem;
    font-weight: 300;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.name input[type="text"]{
    width: 100%;
    padding: 8px 14px;
    border-radius: 10px;
    border: 1px solid #bdd6be;
    font-size: 15px;
    transition: all 0.2s ease;
    font-size: 1.2rem;
}
.name input:focus{
    outline:  1px solid #388e3c;
}
.name input::placeholder{
    font-size:1.1rem;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.3);
}
.file-upload {
    display: inline-block;
    padding: 10px 14px;
    background: #ffffff;
    border-radius: 10px;
    border: 1px dashed #2e7d32;
    color: #2e7d32;
    cursor: pointer;
    font-size: 14px;
    margin-top: 6px;
}
.subtitle {
    text-align: center;
    color: #388e3c;
    margin-bottom: 40px;
    margin-top: 0;
    font-size: large;

}

label {
    display: block;
    margin-bottom: 15px;
    font-weight: 500;
}



.preview-box {
    margin: 20px 0;
    text-align: center;
}

.preview-box img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #66bb6a;
}

button {
    width: 100%;
    padding: 14px;
    background: #2e7d32;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2rem;
    transition: all 0.7s ease-in-out;
}
button:hover{
    background-color: #ffffff;
    color: #2e7d32;
    border: 1px solid #2e7d32;
}
#result img {
    width: 100%;
    margin-top: 20px;
    border-radius: 12px;
}

#downloadBtn {
    display: block;
    margin-top: 15px;
    text-align: center;
    background: #388e3c;
    color: white;
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
}
@media (max-width:767px){
    h1{
        font-size: 2.3rem;
    }
    .subtitle{
        font-size: 1.5rem;
    }
    body{
        background: url(bg-phone.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
@media (min-width:768px) and (max-width:1000px) and (orientation:landscape){
    body{
        height:100%;
    }
}
@media (min-width:768px) and (max-width:1000px) and (orientation:portrait){
    body{
        height: 100vh
    }
}